*{
    box-sizing: border-box;
}
input:focus{
    outline: none !important;
}
form{
    padding: 30px !important;
}
.error-span{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.single-error-span {
    font-size: 12px;
}

.validPass {
    color: green;
}

.invalidPass {
    color: red;
}